<div class="container" id="routeoptions">
        <input id="search" [(ngModel)]="searchText" placeholder="search text goes here" [hidden]="this.data.hideList">
        <li id="parking" *ngFor="let station of stations | filter : searchText" [hidden]="this.data.hideList">
            {{station.properties.NOM_STAT}}
            <p> Number of free parking spots: {{station.properties.STAT_REG}}</p>
            <p>Number of paid parking spots: {{station.properties.STAT_PAYANT}}</p>    
        </li>
</div>
<div id="parkpromptwrapper" class="hide">
    <img id="parkpromptlogo" src="../assets/p&r.svg" alt="">
    <p id="parkprompt">Park your car here.</p>
</div>
<div class="container" id="routeoptions2">
<div class="container" id="questionoptions"[hidden]="this.data.hideQuestion" >
    <b>Frequently Asked Questions</b>
        <mark>How can I save my location into my Favorites?</mark>
        <p> Enter in the location and click on the star icon beside the location</p>
        <mark>How can I remove location from Favorites?</mark>
        <p> Click on either the location or destination text fields to allow for favorites list to drop down. Click remove on the desired location to remove it from favorites.</p>
         <mark>How do I use the Night Mode display?</mark>
        <p> Simply click on night mode icon located on the top left</p>
        <mark>How can I change distance from kilometers to miles?</mark>
        <p>  Click on the toggle button to change between kilometers and miles</p>
        <mark>How can I see me all available parking station?</mark>
        <p>  Simply click on the “List Parking Area” button</p>
</div>
</div>