$red: #B30000;
nav
    text-align: center
    color: #DCDCDC
    width: 100%
    height: 50%
    position: absolute
    background-color: $red

.topnav input
    width: 90%
    border: none
    font-size: 18px
    border-radius: 10px

.topnav input:focus
    outline: none

#from
    margin-top: 15px

#to
    margin-top: 5px
