<nav (keyup.enter)="newMessage(originInput.value,destinationInput.value)">
  <div class="topnav" >
    <div class="inputAddress">
      <input type="text" placeholder="Your Location" id="from" (focus)="setFocus('origin')" #originInput>
      <ul class="onclick-menu-content" id="originHistory">
        <li *ngFor="let cookie of cookiesList"><button class="dropdownBtn" (click)="updateAddress(cookie.substring(3), 'from')">{{ cookie.substring(3) }}</button></li>
      </ul>
      <button (click)="showDropDown('originHistory')" class="transButton" id="origin_dropdown"><i class="fa fa-caret-down"></i></button>
    </div>

    <div class="inputAddress">
      <input type="text" placeholder="Choose Destination" id="to" (focus)="setFocus('destination')" #destinationInput>
      <ul class="onclick-menu-content" id="destHistory">
        <li *ngFor="let cookie of cookiesList"><button class="dropdownBtn" (click)="updateAddress(cookie.substring(3), 'to')">{{ cookie.substring(3) }}</button></li>
      </ul>
      <button (click)="showDropDown('destHistory')" class="transButton" id="destination_dropdown"><i class="fa fa-caret-down"></i></button>
    </div>

    <button (click)="newMessage(originInput.value,destinationInput.value)" id="searchBtn">Search</button>
    <button (click)="showList()" id="searchBtn">List Parking Areas</button>
    <select name="" id="favoriteList" placeholder="Favorites" (change)="getSelectedFavorite()" [(ngModel)]="selectedFavorite">
      <option value="placeholderfavorites" disabled selected hidden>Favorites</option>
      <option *ngFor="let favorite of favorites" [value]="favorite.substring(3)">{{favorite.substring(3)}}</option>
      <option value="addorigin" class="addfavorite">Add Origin To Favorites</option>
      <option value="adddestination" class="addfavorite">Add Destination To Favorites</option>
      <option value="removefavorite" id="removefavorite">Remove Favorite</option>
    </select>
    <button (click)="showQuestion()" id="searchBtn">FAQ</button>
  </div>
  <div class="logonav">
    <button class="transButton" (click)="setType('TRANSIT',0)"><img src="../assets/bus.png" class="transImg" alt="Bus Logo" width="20px" height="20px"></button>
    <button class="transButton" (click)="setType('DRIVING',1)"><img src="../assets/car.png" class="transImg" alt="Car logo" width="20px" height="20px"></button>
    <button class="transButton" (click)="setType('WALKING',2)"><img src="../assets/walk.png" class="transImg" alt="Walk logo" width="15px" height="20px"></button>
    <button class="transButton" (click)="setType('PNR',3)"><img src="../assets/p&r.svg" class="transImg" alt="P&R logo" width="20px" height="20px"></button>
  </div>
  <div class="switchnav">
    <div class="option-text-wrapper">
      <div class="option-text">Fastest</div>
      <div class="option-text">Time</div>
    </div>
    <ui-switch (click)="toggleClicked()" size="small" color="red"></ui-switch>
    <div class="option-text-wrapper">
      <div class="option-text">Shortest</div>
      <div class="option-text">Distance</div>
    </div>
  </div>
  <div class="switchUnit">
    <div class="option-text-wrapper">
      <div class="option-text">km</div>
    </div>
    <ui-switch (click)="toggleDistance()" size="small" color="red"></ui-switch>
    <div class="option-text-wrapper">
      <div class="option-text">mile</div>
    </div>
  </div>
</nav>
