$red: #B30000;
nav
    text-align: center
    color: #DCDCDC
    width: 25%
    height: 25%
    position: absolute
    z-index: 1
    background-color: $red

.topnav input
    width: 90%
    border: none
    font-size: 18px

.topnav input:focus
    outline: none

#from
    margin-top: 15px

#to
    margin-top: 5px