$red: #B30000;
$placeholder: #DDD;

nav
    text-align: center
    color: #DCDCDC
    width: 100%
    background-color: $red

.topnav input
    padding: 7px 10px
    padding-bottom: 0px
    width: 85%
    border: none
    font-size: 18px
    border-bottom: 2px solid #CCC
    background-color: $red
    color: white
    border-radius: 10px

.logonav
    padding-top: 20px

button
    border-radius: 50%
    background-color: $red
    border: none

button:focus
    outline: none
    background-color: #890000

img
    padding: 5px

input::-webkit-input-placeholder  /* Chrome/Opera/Safari */
  color: $placeholder
  opacity: 0.7

input::-moz-placeholder  /* Firefox 19+ */
  color: $placeholder
  opacity: 0.7

input:-ms-input-placeholder  /* IE 10+ */
  color: $placeholder
  opacity: 0.7

input:-moz-placeholder  /* Firefox 18- */
  color: $placeholder
  opacity: 0.7

.topnav input:focus
    outline: none

#from
    margin-top: 15px

#to
    margin-top: 5px
