<nav>
  <div class="topnav">
    <input type="text" placeholder="Your Location" id="from" #originInput>
    <input type="text" placeholder="Choose Destination" id="to"#destinationInput>
    <button (click)="newMessage(originInput.value,destinationInput.value)" class="button">Find Path</button>
  </div>
  <div class="logonav">
    <button class="transButton"><img src="../assets/bus.png" class="transImg" alt="Bus Logo" width="20px" height="20px"></button>
    <button class="transButton"><img src="../assets/car.png" class="transImg" alt="Car logo" width="20px" height="20px"></button>
    <button class="transButton"><img src="../assets/walk.png" class="transImg" alt="Walk logo" width="15px" height="20px"></button>
    <button class="transButton"><img src="../assets/p&r.svg" class="transImg" alt="P&R logo" width="20px" height="20px"></button>
  </div>
</nav>
